@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+AR:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0; /* Set to black */
  --background-end-rgb: 0, 0, 0; /* Set to black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  
}
@keyframes border-gradient {
  0% {
    border-color: #ff7e5f;
  }
  25% {
    border-color: #feb47b;
  }
  50% {
    border-color: #ff7e5f;
  }
  75% {
    border-color: #feb47b;
  }
  100% {
    border-color: #ff7e5f;
  }
}

.animate-border-gradient {
  animation: border-gradient 3s linear infinite;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
